/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    color: white;
    border-radius: 10px;
    margin: 8px auto;
}

img {
    width: 100px;
    border-radius: 50%;
}

/* hero section */

#hero{
    background-image: url(images/torshov.jpg);
    background-size: cover;
    height: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#title{
    background-color: #1D3557;
    padding: 6px 12px;
}
#subtitle{
    background-color: #457B9D;
    width: 355px;
    font-size: 18.72px;
    padding: 8px 30px;
}

/* activities section */

#activities{
    margin: 0;
    padding: 20px 0;
    background-color: #F1FAEE;
    background-size: cover;
    box-sizing: border-box;
    color: #1D3557;
}

#activities-el{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.activitie{
    width: 200px;
}

/* guide section */
#guide{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    background-color: #A8DADC;
    border-radius: 10px;
    padding: 20px 10px;
    border-bottom: 7px solid #1D3557;
    width: 400px;
}
#per{
    border-radius: 10px;
    width: 180px;
}
#guide-info{
    width: 200px;
}