/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100px;
}

#hero{
    background-image: url(images/torshov.jpg);
    background-size: cover;
    height: 345px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2{
    color: white;
    border-radius: 10px;
    padding: 6px 12px;
}

#title{
    background-color: #1D3557;
    padding: ;
}
#subtitle{
    background-color: #457B9D;
    width: 355px;
    font-size: 18.72px;
    padding: 8px 30px;
}